<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<header>
    <h1>Kapow! Comics - Customers</h1>
</header>
<nav>
    <a href="customers.hbs">Customers</a>
    <a href="salesDetails.hbs">Sales Details</a>
</nav>

{{!-- Create a table --}}
<table id="customers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the sale_id, product_id, unit_price, and quantity, in order --}}
        {{#each data}}
        <tr data-value={{this.customer_id}}>
            <td>{{this.customer_id}}</td>
            <td>{{this.customer_name}}</td>
            <td>{{this.customer_email}}</td>
            <td>{{this.customer_phone}}</td>
            <td><button onclick="deleteCustomer({{this.customer_id}})">Delete</button></td>
        </tr>
        {{/each}}
        
    </tbody>
</table>