<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<header>
    <h1>Kapow! Comics - Customers</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="products">Products</a>
    <a href="customers">Customers</a>
    <a href="suppliers">Suppliers</a>
    <a href="sales">Sales</a>
    <a href="salesDetails">Sales Details</a>
</nav>

{{!-- Create a table --}}
<table id="customers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the sale_id, product_id, unit_price, and quantity, in order --}}
        {{#each data}}
        <tr data-value={{this.customer_id}}>
            <td>{{this.customer_id}}</td>
            <td>{{this.customer_name}}</td>
            <td>{{this.customer_email}}</td>
            <td>{{this.customer_phone}}</td>
            <td><button onclick="deleteCustomer({{this.customer_id}})">Delete</button></td>
        </tr>
        {{/each}}
        
    </tbody>
</table>

<h2>Search for a Customer</h2>
<p>Search by the customer's name using the field below! Begin with their first name.</p>
<form id="search-customer-html" method='GET' action='/customers'>
    <label for="input-customer_id">Name: </label>
    <input type="text" name="customer_name" id="input-customer_name-html-search"><br><br>
    
    <input type="submit" class="btn">
    <a href='/customers'><button>Reset</button></a>
</form>

{{!-- Form to add a record to the table  --}}
<h2>Add a New Customer</h2>
<p>To add a new customer, please enter their information below and click 'Submit'!</p>

<form id="add-customer-form-ajax">

    <label for="input_name">First and Last Name: </label>
    <input type="text" name="input-name" id="input-name"><br><br>

    <label for="input-email">Email Address: </label>
    <input type="text" name="input-email" id="input-email"><br><br>

    <label for="input-phone">Phone Number: </label>
    <input type="text" name="input-phone" id="input-phone"><br><br>

    <input type="submit" class="btn">
</form>

<script src="./js/add_customer.js"></script>
<script src="./js/delete_customer.js"></script>