<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>
{{!-- Create a table --}}
<table id="salesDetails-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the sale_id, product_id, unit_price, and quantity, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.sale_id}}</td>
            <td>{{this.product_id}}</td>
            <td>{{this.unit_price}}</td>
            <td>{{this.quantity}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add new sale details, please enter the information below and click 'Submit'!</p>
<form id="add-saleDetails-form-ajax">
    <label for="input-sale_id">Sale ID: </label>
    <input type="text" name="input-sale_id" id="input-sale_id">
    
    <label for="input-product_id">Product ID: </label>
    <input type="number" name="input-product_id" id="input-product_id">

    <label for="input-price">Unit Price: </label>
    <input type="number" name="input-price" id="input-price">

    <label for="input-quantity">Quantity: </label>
    <input type="number" name="input-quantity" id="input-quantity">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_saleDetails.js"></script>