<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- index.hbs -->
<header>
    <h1>Kapow! Comics - Products</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="products">Products</a>
    <a href="customers">Customers</a>
    <a href="suppliers">Suppliers</a>
    <a href="sales">Sales</a>
    <a href="salesDetails">Sales Details</a>
</nav>

{{!-- Create a table --}}
<table id="products-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Current Price</th>
            <th>Product Type</th>
            <th>Supplier ID</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the product_id, product_name, product_price, product_type, and suppiler_id, in order --}}
        {{#each data}}
        <tr data-value={{this.product_id}}>
            <td>{{this.product_id}}</td>
            <td>{{this.product_name}}</td>
            <td>{{this.product_price}}</td>
            <td>{{this.product_type}}</td>
            <td>{{this.supplier_id}}</td>
        </tr>
        {{/each}}
        
    </tbody>
</table>


<h2>Search for a Product</h2>
<p>Search by the product's name using the field below!</p>
<form id="search-product_name-html" method='GET' action='/products'>
    <label for="input-product_name">Product Name: </label>
    <input type="text" name="product_name" id="input-product_name-html-search"><br><br>
    
    <input type="submit" class="btn">
    <a href='/products'><button>Reset</button></a>
</form>




{{!-- Form to add a record to the table  --}}
<h2>Add a New Product</h2>
<p>To add a new product, please enter the information below and click 'Submit'!</p>


<form id="add-products-form-ajax">

    <label for="input-product_name">Product Name: </label>
    <input type="text" name="input-products_name" id="input-products_name"><br><br>

    <label for="input-product_price">Current Price: </label>
    <input type="text" name="input-products_price" id="input-products_price"><br><br>

    <label for="input-product_type">Product Type: </label>
    <select name="input-products_type" id="input-products_type">
        <option value="">Select Type</option>
        <option value="book">Book</option>
        <option value="merchandise">Merchandise</option>
    </select><br><br>

    <label for="input-supplier_type">Supplier:</label>
    <select name="input-supplier_id" id="input-supplier_id">
        <option value="">Select Supplier</option>
        <option value="-1">In-House- No Supplier ID</option>
        {{#each suppliers}}
        <option value="{{this.supplier_id}}">{{this.supplier_name}}</option>
        {{/each}}
    </select><br><br>   


    <input type="submit" class="btn">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_products.js"></script>
<script src="./js/delete_products.js"></script>