<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<header>
    <h1>Kapow! Comics - Sales</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="products">Products</a>
    <a href="customers">Customers</a>
    <a href="suppliers">Suppliers</a>
    <a href="sales">Sales</a>
    <a href="salesDetails">Sales Details</a>
</nav>

{{!-- Create a table --}}
<table id="sales-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Sale ID</th>
            <th>Sale Revenue</th>
            <th>Date and Time of Sale</th>
            <th>Customer Name</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value={{this.sale_id}}>
            <td>{{this.sale_id}}</td>
            <td>{{this.sale_revenue}}</td>
            <td>{{this.sale_date}}</td>
            <td>{{this.customer_id}}</td>
            <td><button onclick="deleteSale({{this.sale_id}})">Delete</button></td>
        </tr>
        {{/each}}
        
    </tbody>
</table>

<h2>Search for a Sale</h2>
<p>Search by sale ID using the field below!</p>
<form id="search-sale_id-html" method='GET' action='/sales'>
    <label for="input-sale_id">Sale ID: </label>
    <input type="text" name="sale_id" id="input-sale_id-html-search">
    
    <input type="submit" class="btn">
    <a href='/sales'><button>Reset</button></a>
</form>

{{!-- Form to add a record to the table  --}}
<h2>Add a New Sale</h2>
<p>To add new a new sale, please enter the information below and click 'Submit'!</p>

<form id="add-sale-form-ajax">

    <label for="input-revenue">Sale Revenue: </label>
    <input type="number" name="input-revenue" id="input-revenue"><br><br>

    <label for="input-customer_id">Customer Name: </label>
    <select name="input-customer_id" id="input-customer_id">
        <option value="">Select Customer: </option>
        {{#each customers}}
        <option value="{{this.customer_id}}">{{this.customer_name}}</option>
        {{/each}}
    </select><br><br> 

    <input type="submit" class="btn">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_sale.js"></script>