<!--
   Most of the following code has been modified from the Node.js Starter App.
   Resources:
   1. Node.js Starter App - https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
   (Sourced on 8/13/2023)
   2. GeeksforGeeks - How to set float input type in HTML5 - https://www.geeksforgeeks.org/how-to-set-float-input-type-in-html5/
   (Sourced on 8/13/2023)
-->

<!-- Include jQuery library -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Page header and navigation links -->
<header>
    <h1>Kapow! Comics - Sales Details</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="products">Products</a>
    <a href="customers">Customers</a>
    <a href="suppliers">Suppliers</a>
    <a href="sales">Sales</a>
    <a href="salesDetails">Sales Details</a>
</nav>

<!-- Sales Details table -->
<table id="salesDetails-table">

    <thead>
        <tr>
            <th>Invoice ID</th>
            <th>Sale ID</th>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr data-value={{this.invoice_id}}>
            <td>{{this.invoice_id}}</td>
            <td>{{this.sale_id}}</td>
            <td>{{this.product_id}}</td>
            <td>{{this.unit_price}}</td>
            <td>{{this.quantity}}</td>
            <td><button onclick="deleteSaleDetails({{this.invoice_id}})">Delete</button></td>
        </tr>
        {{/each}}
        
    </tbody>
</table>

<!-- Sale Details search form -->
<h2>Search for Sales Details</h2>
<p>Search by invoice ID using the field below!</p>
<form id="search-invoice_id-html" method='GET' action='/salesDetails'>
    <label for="input-invoice_id">Invoice ID: </label>
    <input type="text" name="invoice_id" id="input-invoice_id-html-search"><br><br>
    
    <input type="submit" class="btn">
    <a href='/salesDetails'><button>Reset</button></a>
</form>



<!-- Add new sale details form -->
<h2>Add Sales Details</h2>
<p>To add new sale details, please enter the information below and click 'Submit'!</p>

<form id="add-saleDetails-form-ajax">

    <label for="input-sale_id">Sale ID: </label>
    <select name="input-sale_id" id="input-sale_id">
        <option value="">Select a Sale</option>
        {{#each sales}}
        <option value="{{this.sale_id}}">{{this.sale_id}}</option>
        {{/each}}
    </select><br><br>

    <label for="input-product_id">Product ID: </label>
    <select name="input-product_id" id="input-product_id">
        <option value="">Select a Product</option>
        {{#each products}}
        <option value="{{this.product_id}}">{{this.product_name}}</option>
        {{/each}}
    </select><br><br>

    <label for="input-price">Unit Price (USD): </label>
    <input type="number" step="0.01" name="input-price" id="input-price"><!-- This line is adapted from https://www.geeksforgeeks.org/how-to-set-float-input-type-in-html5/ -->
    <br><br>

    <label for="input-quantity">Quantity: </label>
    <input type="number" name="input-quantity" id="input-quantity"><br><br>

    <input type="submit" class="btn">
</form>

<!-- Update a sale's details form -->
<h2>Update Sales Details</h2>
<p>To update a specific invoice's sales details, use the drop-down menu below to select the appropriate invoice, then use the other drop-downs and input fields to update the information.</p>
<form id="update-invoice-form-ajax">

        <label for="input-invoice_id-update">Invoice ID: </label>
    <select name="input-invoice_id-update" id="input-invoice_id-update">
        <option>Select an Invoice</option>
        {{#each data}}
        <option value="{{this.invoice_id}}">{{this.invoice_id}}</option>
        {{/each}}
    </select><br><br>

    <label for="input-sale_id-update">Sale ID: </label>
    <select name="input-sale_id-update" id="input-sale_id-update">
        <option>Select a Sale</option>
        {{#each sales}}
        <option value="{{this.sale_id}}">{{this.sale_id}}</option>
        {{/each}}
    </select><br><br>

    <label for="input-product_id">Product Name: </label>
    <select name="input-product_id" id="input-product_id-update">
        <option>Select a Product</option>
        {{#each products}}
        <option value="{{this.product_id}}">{{this.product_name}}</option>
        {{/each}}
    </select><br><br>
    
    <label for="input-price-update">Unit Price (USD): </label>
    <input type="number" step="0.01" name="input-price-update" id="input-price-update"><!-- This line is adapted from https://www.geeksforgeeks.org/how-to-set-float-input-type-in-html5/ -->
    <br><br>

    <label for="input-quantity-update">Quantity: </label>
    <input type="number" name="input-quantity-update" id="input-quantity-update"><br><br>

    <input type="submit" class="btn">

</form>

<!-- Include JavaScript files for adding, deleting, and updating sale details -->
<script src="./js/add_saleDetails.js"></script>
<script src="./js/delete_saleDetails.js"></script>
<script src="./js/update_salesDetails.js"></script>