<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- index.hbs -->
<header>
    <h1>Kapow! Comics - Supplier Details</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="customers">Customers</a>
    <a href="salesDetails">Sales Details</a>
</nav>

{{!-- Create a table --}}
<table id="suppliers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the sale_id, product_id, unit_price, and quantity, in order --}}
        {{#each data}}
        <tr data-value={{this.supplier_id}}>
            <td>{{this.supplier_id}}</td>
            <td>{{this.supplier_name}}</td>
            <td>{{this.supplier_email}}</td>
            <td>{{this.supplier_phone}}</td>
            <td>{{this.supplier_city}}</td>
            <td>{{this.supplier_state}}</td>
            <td><button onclick="deleteSaleDetails({{this.supplier_id}})">Delete</button></td>
        </tr>
        {{/each}}
        
    </tbody>
</table>


<h2>Search Using an HTML Form</h2>
<p>Search by supplier id using the field below!</p>
<form id="search-supplier_id-html" method='GET' action='/suppliers'>
    <label for="input-supplier_id">Search by supplier id: </label>
    <input type="text" name="supplier_id" id="input-supplier_id-html-search">
    
    <input type="submit">
    <a href='/suppliers'><button>Reset</button></a>
</form>




{{!-- Form to add a record to the table  --}}
<h2>Adding Data</h2>
<p>To add new sale details, please enter the information below and click 'Submit'!</p>


<form id="add-suppliers-form-ajax">

    <label for="input-supplier_name">Supplier Name: </label>
    <input type="text" name="input-supplier_name" id="input-supplier_name">

    <label for="input-supplier_email">Supplier Email: </label>
    <input type="text" name="input-supplier_email" id="input-supplier_email">

    <label for="input-supplier_phone">Supplier Phone: </label>
    <input type="number" name="input-supplier_phone" id="input-supplier_phone">

    <label for="input-supplier_city">Supplier City: </label>
    <input type="text" name="input-supplier_city" id="input-supplier_city">

    <label for="input-supplier_state">Supplier state: </label>
    <input type="text" name="input-supplier_state" id="input-supplier_state">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_suppliers.js"></script>