<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- index.hbs -->
<header>
    <h1>Kapow! Comics - Suppliers</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="products">Products</a>
    <a href="customers">Customers</a>
    <a href="suppliers">Suppliers</a>
    <a href="sales">Sales</a>
    <a href="salesDetails">Sales Details</a>
</nav>

{{!-- Create a table --}}
<table id="suppliers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Supplier ID</th>
            <th>Supplier Name</th>
            <th>Contact Email Address</th>
            <th>Contact Phone Number</th>
            <th>Location City</th>
            <th>Location State</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the supplier_id, supplier_name, supplier_email, supplier_phone, supplier_city, and supplier_state, in order --}}
        {{#each data}}
        <tr data-value={{this.supplier_id}}>
            <td>{{this.supplier_id}}</td>
            <td>{{this.supplier_name}}</td>
            <td>{{this.supplier_email}}</td>
            <td>{{this.supplier_phone}}</td>
            <td>{{this.supplier_city}}</td>
            <td>{{this.supplier_state}}</td>
            <td><button onclick="deleteSupplier({{this.supplier_id}})">Delete</button></td>
        </tr>
        {{/each}}
        
    </tbody>
</table>


<h2>Search for a Supplier</h2>
<p>Search by supplier ID using the field below!</p>
<form id="search-supplier_id-html" method='GET' action='/suppliers'>
    <label for="input-supplier_id">Supplier ID: </label>
    <input type="text" name="supplier_id" id="input-supplier_id-html-search"><br><br>
    
    <input type="submit" class="btn">
    <a href='/suppliers'><button>Reset</button></a>
</form>




{{!-- Form to add a record to the table  --}}
<h2>Add a New Supplier</h2>
<p>To add new supplier, please enter the information below and click 'Submit'!</p>


<form id="add-suppliers-form-ajax">


    <label for="input-supplier_name">Supplier Name: </label>
    <input type="text" name="input-supplier_name" id="input-supplier_name"><br><br>

    <label for="input-supplier_email">Primary Contact Email Address: </label>
    <input type="text" name="input-supplier_email" id="input-supplier_email"><br><br>

    <label for="input-supplier_phone">Primary Contact Phone Number: </label>
    <input type="number" name="input-supplier_phone" id="input-supplier_phone"><br><br>

    <label for="input-supplier_city">Location City: </label>
    <input type="text" name="input-supplier_city" id="input-supplier_city"><br><br>

    <label for="input-supplier_state">Location State (two-letter abbreviations only): </label>
    <input type="text" name="input-supplier_state" id="input-supplier_state"><br><br>

    <input type="submit" class="btn">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_suppliers.js"></script>
<script src="./js/delete_suppliers.js"></script>
